#vertical-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div{
    margin-bottom: 0px;
	padding:10px;
	background-color:#D3D3D3;
	width:400px;
}

#vertical-menu img {
    margin-right: 10px;
}

#home
{
	background-color:#FFD700;
	width:400px;
	
}
body
{
	font-family:arial;
}


